@model Pizzashop.DAL.ViewModels.ChangePasswordviewmodel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/changepassword.css">
    <title>Change Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="d-flex">
        <div class="bg-light">
            <main class="my-3 mx-5">
                <div>
                    <h1 class="text-primary">Change Password</h1>
                    <form class="form p-4" method="post" asp-controller="Profile" asp-action="ChangePassword">
                        <div class="col gap-sm-0 gap-3">
                            <p class="text-secondary">Enter a new password to update your account credentials.</p>

                            <div class="form-floating mb-3 col-12 d-flex position-relative">
                                <input asp-for="CurrentPassword" type="password" class="form-control"
                                    id="currentPassword" placeholder="Current Password" />
                                <div class="imageeeee" style="cursor: pointer;" id="toggleCurrentPassword">
                                    <img src="~/images/icons/eye.svg" alt="Toggle Password Visibility">
                                </div>
                                <label for="currentPassword">Current Password*</label>
                            </div>
                             <span asp-validation-for="CurrentPassword"  class="text-danger"></span>
                            <div class="form-floating mb-3 col-12 d-flex position-relative">
                                <input asp-for="NewPassword" type="password" class="form-control" id="newPassword"
                                    placeholder="New Password" />
                                <div class="imageeeee" style="cursor: pointer;" id="toggleNewPassword">
                                    <img src="~/images/icons/eye.svg" alt="Toggle Password Visibility">
                                </div>
                                <label for="newPassword">New Password*</label>
                            </div>
                            <span asp-validation-for="NewPassword"  class="text-danger"></span>
                            <div class="form-floating col-12 d-flex position-relative">
                                <input asp-for="ConfirmNewPassword" type="password" class="form-control"
                                    id="confirmNewPassword" placeholder="Confirm New Password" />
                                <div class="imageeeee" style="cursor: pointer;" id="toggleConfirmNewPassword">
                                    <img src="~/images/icons/eye.svg" alt="Toggle Password Visibility">
                                </div>
                                <label for="confirmNewPassword">Confirmed New Password*</label>
                            </div>
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            <div class="d-flex justify-content-start gap-2 pt-3">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <button class="btn btn-outline-primary" type="button"
                                    onclick="clearFields()">Cancel</button>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start ms-5 ps-5 mt-3" style="color:red;">
                            @ViewBag.Message</div>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#toggleCurrentPassword').click(function () {
                let input = $('#currentPassword');
                let type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);
            });

            $('#toggleNewPassword').click(function () {
                let input = $('#newPassword');
                let type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);
            });

            $('#toggleConfirmNewPassword').click(function () {
                let input = $('#confirmNewPassword');
                let type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);
            });
        });

        function clearFields() {
            $('#currentPassword').val(''); 
            $('#newPassword').val(''); 
            $('#confirmNewPassword').val(''); 
        }
    </script>
</body>

</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


@* <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@