@{
    Layout=null;
}
@model Pizzashop.DAL.ViewModels.ResetPasswordviewmodel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="row vh-100 vw-100 g-0" style="height: 100%; width: 100%;">
        <div class="col-lg-6 col-md-12 d-lg-block d-none">
            <img style="height:100%; width: 100%;" class="img-fluid" src="~/images/dominos_background.jpg" alt="">
        </div>
        <form  method="post" asp-controller="Login" asp-action="ResetPassword"  class="content col-lg-6 d-flex align-items-center justify-content-center col-md-12 ps-xl-5 pt-xl-5  ms-xl-0  ms-lg-0     ms-md-5 ms-sm-2">
            <div class="bg-image d-block d-lg-none position-absolute w-100 h-100" 
                style="background-image: url('~/images/dominos_background.jpg'); background-size: cover; background-position: center; z-index: -1; opacity: 70%;">
            </div>
            <div class="container">
                <div class="row mb-5 me-md-5 me-xl-5">
                    <div class="pizza d-flex align-items-center justify-content-center">
                        <img class="img-fluid" style="height: 60px;" src="~/images/logos/pizzashop_logo.png" alt="">
                        <h1 class="font1">PIZZASHOP</h1>
                    </div>
                </div>
                <div class="row ms-5 mb-3">
                    <h1 class="font1 fw-bold">Reset Your Password</h1>
                </div>
                <div class="row  ms-5">
                    <form id="loginForm" asp-controller="Login" asp-action="ResetPassword">
                            <input asp-for="Email" type="hidden" class="form-control"  id="" placeholder="New Password*"> 
                         <div class="mb-3 p-0 col-10 d-flex position-relative">
                            <input asp-for="NewPassword" type="password" class="form-control" id="passwordinput" placeholder="New Password*">
                            <div class="imageeeee"><img id="togglepassword" src="~/images/icons/eye.svg" alt=""></div>
                            @* <span asp-validation-for="Password" style="position:absolute; bottom: -20px; left: 2px;" class="text-danger"></span> *@
                            <small id="passwordError" class="text-danger position-absolute" style="bottom: -20px; left: 1px;"></small>
                        </div>
                                 
                       <div class="mb-3 p-0 col-10 d-flex position-relative">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="passwordinput1" placeholder="Confirm New Password*">
                            <div class="imageeeee"><img id="togglepassword1" src="~/images/icons/eye.svg" alt=""></div>
                            @* <span asp-validation-for="Password" style="position:absolute; bottom: -20px; left: 2px;" class="text-danger"></span> *@
                            <small id="passwordError" class="text-danger position-absolute" style="bottom: -20px; left: 1px;"></small>
                        </div>
                        <button type="submit"  class="btn btn-primary btn-sm col-10 mt-2 align-items-center justify-content-center">Submit</button>

                        <div class="d-md-flex d-lg-flex d-xl-flex d-none justify-content-center col-10 mb-3 mt-1 p-0">
                            <a style="color:blue;text-decoration:none"  asp-action="Login"> Back to Login </a>
                        </div>

                        <div class="d-md-none d-lg-none d-xl-none justify-content-end col-10 mb-3">
                            <a class="d-flex justify-content-center" style="color:blue;text-decoration:none " asp-action="Login"> Back To Login </a>
                        </div>

                          <div class=" d-flex align-items-center justify-content-start" style="color:red; margin-left: 270px;">@ViewBag.Message</div> 
                    </form>
                </div>
            </div>
        </form>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   